
/* .categorizeform{
    margin:10px,
    borderradius : 10px,
    width: "60%",
    padding: "20px",
    boxShadow: "rgba(0.15, 0.50, 0, 0.15) 1.95px 1.95px 2.6px"
} */

.categorizeform{
    border-radius: 10px;
    border: 1px solid grey;
    width: 66.5%;
    
    padding: 24px;
    margin: 20px;
    box-shadow: 0.3px 0.5px grey;
}